<app-breadcrumb [title]="'Solicitud de firma'" [items]="['Solicitud']" [active_item]="'Form Firmas'"></app-breadcrumb>
<app-alert></app-alert>
<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Ficha de Verificación</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()" class="theme-form mega-form">
                        <h6>Datos Personales</h6>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Primer Nombre</label>
                                <input class="form-control" type="text" formControlName="primerNombre" placeholder="Primer Nombre">
                                <div *ngIf="solicitudForm.get('primerNombre')?.invalid && solicitudForm.get('primerNombre')?.touched" class="text-danger">
                                    {{ getLetrasErrorMessage(solicitudForm.get('primerNombre')) }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Segundo Nombre</label>
                                <input class="form-control" type="text" formControlName="segundoNombre" placeholder="Segundo nombre">
                                <div *ngIf="solicitudForm.get('segundoNombre')?.invalid && solicitudForm.get('segundoNombre')?.touched" class="text-danger">
                                    {{ getLetrasErrorMessage(solicitudForm.get('segundoNombre')) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Primer Apellido</label>
                                <input class="form-control" type="text" formControlName="primerApellido" placeholder="Primer Apellido">
                                <div *ngIf="solicitudForm.get('primerApellido')?.invalid && solicitudForm.get('primerApellido')?.touched" class="text-danger">
                                    {{ getLetrasErrorMessage(solicitudForm.get('primerApellido')) }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Segundo Apellido</label>
                                <input class="form-control" type="text" formControlName="segundoApellido" placeholder="Segundo Apellido">
                                <div *ngIf="solicitudForm.get('segundoApellido')?.invalid && solicitudForm.get('segundoApellido')?.touched" class="text-danger">
                                    {{ getLetrasErrorMessage(solicitudForm.get('segundoApellido')) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Cédula</label>
                                <input class="form-control" type="text" formControlName="cedula" placeholder="Cédula">
                                <div *ngIf="solicitudForm.get('cedula')?.invalid && solicitudForm.get('cedula')?.touched" class="text-danger">
                                    {{ getCedulaErrorMessage(solicitudForm.get('cedula')) }}
                                </div>
                            </div>
                        </div>

                        <hr class="mt-4 mb-4">
                        <h6>Contacto</h6>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Email</label>
                                <input class="form-control" type="text" formControlName="email" placeholder="Email">
                                <div *ngIf="solicitudForm.get('email')?.invalid && solicitudForm.get('email')?.touched" class="text-danger">
                                    {{ getCorreoErrorMessage(solicitudForm.get('email')) }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Número de Celular</label>
                                <input class="form-control" type="text" formControlName="telefono" placeholder="Número de Celular">
                                <div *ngIf="solicitudForm.get('telefono')?.invalid && solicitudForm.get('telefono')?.touched" class="text-danger">
                                    {{ getTelefonoErrorMessage(solicitudForm.get('telefono')) }}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary me-1">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
